### Setting up the Environment

In [2]:
import numpy as np
import pandas as pd
import sklearn as sk
!pip install wget

Requirement already satisfied: wget in c:\users\elcot\anaconda3\lib\site-packages (3.2)

In [21]:
!python -m wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

Saved under data.csv

## Question 1: What is the version of numpy that you installed?

In [3]:
np.__version__

'1.23.3'

## Question 2: How many records are in the dataset?

In [4]:
data = pd.read_csv("data.csv")
data

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

## Question 3 : Who are the most frequent car manufacturers (top-3) according to the dataset?

In [27]:
df = pd.DataFrame(data)
df_unique = df.drop_duplicates()
df_unique['Make'].value_counts().nlargest(3)

Chevrolet    1083
Ford          825
Toyota        719
Name: Make, dtype: int64

## Question 4 : What is the number of unique audi car models in the dataset?

In [42]:
df_unique[df_unique['Make'] == 'Audi'].nunique()

Make                   1
Model                 34
Year                  20
Engine Fuel Type       5
Engine HP             40
Engine Cylinders       6
Transmission Type      3
Driven_Wheels          2
Number of Doors        2
Market Category       15
Vehicle Size           3
Vehicle Style          6
highway MPG           23
city mpg              18
Popularity             1
MSRP                 234
dtype: int64

## Question 5 : How many columns in the dataset have missing values?

In [61]:
print(df_unique.isnull().any().value_counts())

False    11
True      5
dtype: int64

## Question 6:

In [62]:
df_unique['Engine Cylinders'].median()

6.0

In [63]:
df_unique['Engine Cylinders'].value_counts().nlargest(3)

4.0    4362
6.0    4291
8.0    1965
Name: Engine Cylinders, dtype: int64

In [64]:
df_unique['Engine Cylinders'].fillna(4.0)

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: Engine Cylinders, Length: 11199, dtype: float64

In [65]:
df_unique['Engine Cylinders'].median()

6.0

In [60]:
df_unique['Engine Cylinders'].isnull().value_counts()

False    11169
True        30
Name: Engine Cylinders, dtype: int64

## Question 7 :

In [76]:
lotus_cars = df_unique[df_unique['Make'] == 'Lotus']
lotus_without_dup = lotus_cars[['Engine HP', 'Engine Cylinders']].drop_duplicates()
lotus_without_dup

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [84]:
x = lotus_without_dup.to_numpy()
x
x_t = x.transpose()

def vector_vector_multiplication(x,y):
    assert x.shape[0] == y.shape[0]
    n = x.shape[0]
    result = 0.0
    for i in range(n):
        result = result + x[i]*y[i]
    return result

def matrix_vector_multiplication(x,y):
    assert x.shape[1] == y.shape[0]
    nrow = x.shape[0]
    result = np.zeros(nrow)
    for i in range(nrow):
        result[i] = vector_vector_multiplication(x[i],y)
    return result
def matrix_matrix_multiplication(x,y):
    assert x.shape[1] == y.shape[0]
    num_rows = x.shape[0]
    num_cols = y.shape[1]
    result  = np.zeros((num_rows,num_cols))
    for i in range(num_cols):
        yi = y[:,i]
        xyi = matrix_vector_multiplication(x,yi)
        result[:,i] = xyi
    return result
XTX = matrix_matrix_multiplication(x_t,x)
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
x_xtx = matrix_matrix_multiplication(XTX_inv,x_t)
w = matrix_vector_multiplication(x_xtx,y)
w[0]

4.594944810094551